<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GAssistant.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ClientDB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ClientDB.Properties.Settings.clientConnectionString"
            connectionString="data source=client.db" providerName="System.Data.SQLite" />
    </connectionStrings>
    <applicationSettings>
        <GAssistant.Properties.Settings>
            <setting name="szClientDbFile" serializeAs="String">
                <value>client.db</value>
            </setting>
            <setting name="szClientDataSrc" serializeAs="String">
                <value>data source=</value>
            </setting>
            <setting name="szBackUpFileName" serializeAs="String">
                <value>backup.db</value>
            </setting>
        </GAssistant.Properties.Settings>
        <ClientDB.Properties.Settings>
            <setting name="PassLen" serializeAs="String">
                <value>8</value>
            </setting>
        </ClientDB.Properties.Settings>
    </applicationSettings>
</configuration>