<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AY.db.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="db.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="AY.db.Properties.Settings.clientConnectionString"
            connectionString="data source=D:\Projects\Atlantic\bin\Debug\client.db"
            providerName="System.Data.SQLite" />
        <add name="AY.db.Properties.Settings.clientConnectionString1"
            connectionString="data source=client.db" providerName="System.Data.SQLite" />
    </connectionStrings>
    <applicationSettings>
        <AY.db.Properties.Settings>
            <setting name="szDbSrcFile" serializeAs="String">
                <value>client.db</value>
            </setting>
            <setting name="szClientDataSrc" serializeAs="String">
                <value>data source=</value>
            </setting>
        </AY.db.Properties.Settings>
        <db.Properties.Settings>
            <setting name="szDbSrcFile" serializeAs="String">
                <value>client.db</value>
            </setting>
        </db.Properties.Settings>
    </applicationSettings>
</configuration>